doctype html
-var list = [];
-for (var i = 0; i < 100; i++) { list.push(i); }
-list.push(100, 200, 500, 1000, 2000, 5000, 10000, 20000, 50000, 100000, 200000, 500000, 1000000, 100000000);
-var units = ['in', 'cm', 'em', 'pt', 'px'];
html
	head
		style
			| .unit-block { border: solid 1px black }
			| .size-block { display: none }
		each unit in units
			each val, index in list
				if index > 0
					style
						| 
						| @media (min-device-width: #{list[index-1]}#{unit}) and (max-device-width: #{val}#{unit}) {
						|     .size-block.width-#{index}#{unit}-block { display: block }
						| }
						| @media (min-device-height: #{list[index-1]}#{unit}) and (max-device-height: #{val}#{unit}) {
						|     .size-block.height-#{index}#{unit}-block { display: block }
						| }
						| 
	body
		each unit in units
			.unit-block
				each val, index in list
					if index > 0
						.size-block(class = "width-" + index + unit + "-block") #{list[index-1]}#{unit} < width < #{val}#{unit}
				each val, index in list
					if index > 0
						.size-block(class = "height-" + index + unit + "-block") #{list[index-1]}#{unit} < height < #{val}#{unit}
		.js-block
			p
				| JS width: 
				span#js-width-mm
				| mm
			p
				| JS height: 
				span#js-height-mm
				| mm
			p
				| JS diagonal: 
				span#js-diagonal-in
				| in
		script.
			var svgEl = document.createElementNS("http://www.w3.org/2000/svg", "svg");
			var screenWidthMillimeters = svgEl.screenPixelToMillimeterX * window.screen.width;
			var screenHeightMillimeters = svgEl.screenPixelToMillimeterY * window.screen.height;
			var screenDiagonalMillimeters = Math.sqrt(Math.pow(screenWidthMillimeters, 2) + Math.pow(screenHeightMillimeters, 2)); // pythagorean theorem
			var screenDiagonalInches = (screenDiagonalMillimeters / 10 / 2.54); // (mm / 10mm/cm) / 2.54cm/in = in
			document.getElementById('js-width-mm').innerHTML = screenWidthMillimeters;
			document.getElementById('js-height-mm').innerHTML = screenHeightMillimeters;
			document.getElementById('js-diagonal-in').innerHTML = screenDiagonalInches;
